@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
  border: none;
  font-family: "Outfit", sans-serif;
  transition: all ease 0.25s;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.82);
}

#form-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 0px 10px 1px black;
  color: white;
}

#div-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

#div-input > input {
  width: 300px;
  height: 35px;
  border: 2px black;
  background: rgba(32, 32, 32, 0.5);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}











@media screen and (min-width: 2560px) {
   body {
      zoom: 1;
   }
}
@media screen and (min-width: 1440px) {
   body {
      zoom: 0.75;
   }
}
@media screen and (min-width: 1600px) {
   body {
      zoom: 0.7;
   }
}
@media screen and (min-width: 1080px) {
   body {
      zoom: 0.6;
   }
}
@media screen and (min-width: 1280px) {
   body {
      zoom: 1.05;
   }
}
@media screen and (min-width: 800px){
   body {
      zoom: 1.05;
   }
}
@media screen and (max-width: 600px){
   body {
      zoom: 1.15;
   }
}


.loader {
   border: 2px solid #f3f3f3;
   border-radius: 50%;
   border-top: 2px solid #74f000;
   width: 40px;
   height: 40px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
   animation: spin 2s linear infinite;
 }
 
 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }